@import 'colors-waybar.css';

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 24px;
}

window#waybar {
  background: transparent;
  color: @color1;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: @color1;
  margin-right: 5px;
}

#workspaces button.active {
  color: @color1;
}

#workspaces button.urgent {
  color: @color1;
  background: @background;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @background;
  color: @color1;
  border-radius: 0;
  border: 0;
  outline: 0;
}

#custom-power, #clock, #battery, #pulseaudio, #network, #workspaces, #tray, #backlight {
  background: @background;
  padding: 0px 10px;
  margin: 3px 0px;
}

#tray {
  border-radius: 10px;
  margin-right: 4px;
}

#workspaces {
  background: @background;
  border-radius: 10px;
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}

#clock {
  color: @color1;
  border-radius: 10px;
}

#network {
  color: @color1;
  border-radius: 10px 0px 0px 10px;
  padding-right: 12px;
}

#pulseaudio {
  color: @color1;
}

#battery{
  color:  @color1;

}

#backlight{
  color: @color1;
}
#custom-power{
  color: @color1;
  background: @background;
  border-radius: 0 10px 10px 0;
  margin-right: 5px;
}

